@{
    ViewBag.Title = "Employee List (AJAX)";
}

<h2 class="text-center">Employee List</h2>

<p>
    <a href="@Url.Action("Create")" class="btn btn-success">+ Add New</a>
</p>
<input type="text" id="searchBox" class="form-control mb-3" placeholder="Search by name or department..." />


<div id="employeeTableContainer">
    Loading employees...
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    function loadEmployeeTable() {
        $.ajax({
            url: '/Employee/GetEmployeeTable',
            type: 'GET',
            success: function (data) {
                $('#employeeTableContainer').html(data);
            },
            error: function (xhr) {
                $('#employeeTableContainer').html('<p>Error loading table: ' + xhr.status + '</p>');
                console.error("Error:", xhr);
            }
        });
    }

    $(document).ready(function () {
        loadEmployeeTable();
    });

    function loadEmployeeTable(search = '') {
        $.ajax({
            url: '@Url.Action("SearchEmployees", "Employee")',
            type: 'GET',
            data: { searchTerm: search },
            success: function (data) {
                $('#employeeTableContainer').html(data);
            },
            error: function () {
                $('#employeeTableContainer').html('<p>Error loading table.</p>');
            }
        });
    }

    $(document).ready(function () {
        loadEmployeeTable();

        $('#searchBox').on('input', function () {
            var keyword = $(this).val();
            loadEmployeeTable(keyword);
        });
    });
</script>
